$maxWidth: 1920px;
$serif: 'Nanum Myeongjo', serif;
$sanserif: 'Comme', sans-serif;

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0 7%;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcement {
  display: flex;
  gap: 8px;
  font-size: 0.75rem;
  color: #f7e1d2;
  background-color: #0c3a23;
  padding: 12px 0;
  line-height: 1.25rem;
  justify-content: center;
  align-items: center;

  a {
    border-bottom: 1px solid #f7e1d2;
    color: #f7e1d2;
    text-decoration: none;

    &:hover {
      color: #edbc4f;
      border-color: #edbc4f;
    }
  }
}

header {
  position: sticky;
  z-index: 10;
  top: 0px;
  max-width: $maxWidth;
  width: 100%;
  background-color: #f7e1d2;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 24px;

    .logo {
      margin-right: 8px;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 8px;

    li {
      padding: 16px;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 1rem;
    }
  }

  .button {
    background-color: #0c3a23;
    border: 1px solid #0c3a23;
    color: #fffcfa;
    padding: 12px 24px;
    border-radius: 68px;
    text-decoration: none;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 0;
  gap: 24px;

  h1 {
    font-style: medium;
    line-height: 8rem;
    span {
      font-style: italic;
    }
  }

  p {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

h1 {
  font-size: 7.75rem;
}

footer {
  margin-top: 200px;
}

.spotlight {
  border-top: 1px solid #bfc1b9;
  max-width: $maxWidth;
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 64px;
    margin-bottom: 44px;

    .headline {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    h2 {
      font-family: $sanserif;
      font-size: 1.5rem;
      line-height: 1.625;
      font-weight: 400;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $serif;
      text-decoration: none;
      color: #fffcfa;
      background-color: #ee4b4a;
      padding: 0.75rem 0.75rem 0.75rem 1.5rem;
      font-size: 1.5rem;
      gap: 16px;
      border-radius: 2.5rem;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #fffcfa;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
      }

      .iconColor {
        color: #ee4b4a;
      }
    }
  }

  .body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;

    label {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      background-color: rgba(255, 252, 250, 0.5);
      transition: all;
      transition-duration: 0.25s;
      position: relative;
      padding: 24px;
      border-radius: 16px;

      &:hover {
        box-shadow: -1px 1px 2px 0 rgb(0 0 0 / 14%),
          -3px 3px 6px 0 rgb(0 0 0 / 12%), -6px 6px 12px 0 rgb(0 0 0 / 8%),
          -15px 15px 30px 0 rgb(0 0 0 / 4%);
        background-color: #fffcfa;
      }

      input {
        position: absolute;
        top: 16px;
        right: 16px;
      }

      .checkbox {
        background-color: transparent;
        background-image: url(https://assets.website-files.com/64149f7…/64149f7…_Select%20Checkmark.svg);
        background-size: 0.625rem 0.4375rem;
        border-color: #2b2c30;
      }

      img {
        width: 135px;
        height: auto;
      }

      div {
        margin-top: 18px;
      }
    }
  }
}
