$maxWidth: 100%;
$serif: 'Nanum Myeongjo', serif;
$sanserif: 'Comme', sans-serif;
$serifItalic: 'Playfair Display', serif;

// FAB-Button links unten
.fabButton {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 18px;
  bottom: 18px;
  background-color: #141414;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

// Wrapping content
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0 7%;
}

// Green button
.button {
  background-color: #0c3a23;
  color: #fffcfa;
  padding: 12px 24px;
  border-radius: 68px;
  text-decoration: none;
}

// Top message
.announcement {
  display: flex;
  gap: 8px;
  font-size: 0.75rem;
  color: #f7e1d2;
  background-color: #0c3a23;
  padding: 12px 0;
  line-height: 1.25rem;
  justify-content: center;
  align-items: center;

  a {
    border-bottom: 1px solid #f7e1d2;
    color: #f7e1d2;
    text-decoration: none;
    transition: all 0.25s;

    &:hover {
      color: #edbc4f;
      border-color: #edbc4f;
    }
  }
}

// Navigation
header {
  margin: 0 7%;
  position: sticky;
  z-index: 10;
  top: 0px;
  max-width: $maxWidth;

  //Navigation
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 24px;

    // Wrapping logo components
    .wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: all 1s;
    }

    // Spacing the logo components
    .logo {
      margin-right: 8px;
    }

    // Hide part of the logo
    .hidden {
      opacity: 0;
      transition: all 0.2s;
    }

    // Show part of the logo
    .notHidden {
      opacity: 1;
      transition: all 0.2s;
    }
  }

  // Centered menu
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    padding: 0;
    padding-left: 18px;
    padding-right: 18px;
    list-style: none;
    transition: all;
    transition-duration: 0.2s;
    border: 1px solid rgba(191, 193, 185, 0);
    border-radius: 200px;

    li {
      padding: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 1rem;
    }
  }

  // Scroll effect
  .scrollNav {
    background-color: #fffcfa;
    border: 1px solid #bfc1b9;
    transition: all;
    transition-duration: 0.2s;
  }
}

// Basic section styling
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Light section styling addition
.light {
  background-color: white;
}

// Wraps color seperator
.bgSeperator {
  width: 100%;
  object-fit: cover;
  margin-bottom: -8px;
}

// Hero section
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 0;
  gap: 24px;

  h1 {
    font-style: medium;
    line-height: 8rem;
    font-size: 7.75rem;
    letter-spacing: -0.25rem;
    span {
      font-style: italic;
    }
  }

  p {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

// Spotlight section
.spotlight {
  border-top: 1px solid #bfc1b9;
  max-width: $maxWidth;
  width: 100%;

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 64px;
    margin-bottom: 44px;
    gap: 16px;

    .headline {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    h2 {
      font-family: $sanserif;
      font-size: 1.5rem;
      line-height: 1.625;
      font-weight: 400;
      letter-spacing: -0.1rem;
    }

    // Red button with icon
    .button {
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $serif;
      font-weight: 700;
      text-decoration: none;
      color: #fffcfa;
      background-color: #ee4b4a;
      padding: 0.75rem 0.75rem 0.75rem 1.5rem;
      font-size: 1.5rem;
      gap: 16px;
      border-radius: 2.5rem;

      &:hover {
        background-color: #2b2c30;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #fffcfa;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
      }

      .iconColor {
        color: #ee4b4a;
      }
    }
  }

  .body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;

    label {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      background-color: rgba(255, 252, 250, 0.5);
      transition: all;
      transition-duration: 0.25s;
      position: relative;
      padding: 24px;
      border-radius: 16px;
      font-weight: 700;

      &:hover {
        box-shadow: -1px 1px 2px 0 rgb(0 0 0 / 14%),
          -3px 3px 6px 0 rgb(0 0 0 / 12%), -6px 6px 12px 0 rgb(0 0 0 / 8%),
          -15px 15px 30px 0 rgb(0 0 0 / 4%);
        background-color: #fffcfa;
      }

      input {
        position: absolute;
        top: 16px;
        right: 16px;
      }

      img {
        width: 135px;
        height: auto;
      }

      div {
        margin-top: 18px;
      }
    }
  }

  // Only shown on a condition
  .hint {
    display: none;
    background-color: #2b2c30;
    width: 100%;
    margin-top: 16px;
    font-size: 0.8rem;
    padding: 0.75rem 2rem;
    border-radius: 0.75rem;
    color: #fffcfa;
  }
}

// References
.references {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  background-color: #bfc1b9;
  border-radius: 12px;
  padding: 32px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 52px;
  justify-content: space-between;

  p {
    font-size: 1.75rem;
    flex: 2;
  }

  .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    flex: 4;

    img {
      max-width: 100px;
    }
  }
}

// Image with text right
.imageTextRight {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 80px;

  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
      font-size: 4.25rem;
      letter-spacing: -0.1rem;
    }

    p {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  .image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  img {
    width: 100%;
    height: auto;
  }
}

// Image with test left - image align right
.imageTextLeft {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 80px;

  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
      font-size: 3.75rem;
      letter-spacing: -0.1rem;
    }

    p {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  .image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  img {
    width: 100%;
    height: auto;
    max-width: 560px;
    min-width: 480px;
  }
}

// USP Section
.uspSection {
  padding: 0 15%;
}

.uspGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-row-gap: 80px;
  align-items: start;
  padding-bottom: 136px;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-self: stretch;
  }

  h3 {
    font-size: 1.5rem;
    font-family: $sanserif;
    font-weight: 500;
    padding-bottom: 16px;
  }

  .cell {
    border-top: 1px solid #bfc1b9;
    padding-top: 32px;
    padding-right: 56px;
    display: flex;
    gap: 24px;

    .cellBodyWrapper {
      display: flex;
      flex-direction: column;

      .cellBody {
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
      }

      .cellLink {
        margin-top: auto;
        font-weight: 700;
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }
  }
}

.quotes {
  width: 100%;
  padding: 0 15%;
}

.quotesBody {
  background-color: #f7e1d2;
  width: 100%;
  margin-bottom: 136px;
  border-radius: 24px;
  position: relative;
  padding: 40px;

  .decoLeft {
    position: absolute;
    top: 0;
    left: 0;
  }

  .decoRight {
    position: absolute;
    top: 0;
    right: 0;
  }

  .quoteTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-bottom: 64px;

    h2 {
      font-family: $sanserif;
      letter-spacing: -0.1rem;
      font-weight: bold;
      font-size: 1.5rem;
      color: #0c3a23;
    }
  }
  blockquote {
    font-family: $serifItalic;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem;
  }

  .testimonial {
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
  }

  .position {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 24px;
  }

  .quoteFooter {
    width: 100%;
    display: flex;
    align-items: center;

    .pagination {
      display: flex;
      gap: 8px;
    }

    .square {
      border-radius: 50%;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #bfc1b9;
    }

    .activeSquare {
      border-radius: 50%;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #0c3a23;
    }

    .line {
      height: 1px;
      background-color: #bfc1b9;
      flex: 1;
      margin-left: 3.5rem;
      margin-right: 3.5rem;
    }

    .button {
      background-color: #0c3a23;
      border: 1px solid #0c3a23;
      color: #fffcfa;
      padding: 16px 24px;
      border-radius: 68px;
      text-decoration: none;
      display: flex;
      gap: 24px;
    }
  }
}

// Gray background
.gray {
  background-color: #bfc1b9;
  padding-bottom: 144px;
}

// Talent section
.talent {
  position: relative;

  .elipse {
    object-fit: cover;
    display: block;
  }

  .talentBody {
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40rem;
    gap: 24px;

    h2 {
      font-size: 4rem;
      letter-spacing: -0.1rem;
      text-align: center;
      font-weight: bold;
    }

    p {
      font-size: 1.25rem;
      line-height: 2rem;
      padding-bottom: 16px;
    }
  }
}

// Five Steps section
.fiveSteps {
  padding-top: 144px;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 0 7%;
  gap: 10rem;

  a {
    width: 100%;
  }

  .leftside {
    flex: 1;
    padding-left: 64px;
    padding-right: 64px;

    h2 {
      font-size: 4.25rem;
      line-height: 4.75rem;
      letter-spacing: -0.1rem;
      font-weight: bold;
      padding-bottom: 24px;
    }

    p {
      font-size: 1.25rem;
    }
  }

  .rightside {
    flex: 1;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 1.5rem;
      font-family: $sanserif;
      padding-bottom: 24px;
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      padding-bottom: 32px;
    }

    .leftButton {
      background-color: #fffcfa;
      box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.07),
        -2px 2px 4px rgba(0, 0, 0, 0.07), -1px 1px 2px rgba(0, 0, 0, 0.07);
      padding: 12px 24px;
      border-radius: 24px;
      text-align: center;
      flex: 1;
    }

    .rightButton {
      background-color: #ccccc6;
      padding: 12px 24px;
      border-radius: 24px;
      text-align: center;
      flex: 1;
    }

    .greenButton {
      background-color: #0c3a23;
      border: 1px solid #0c3a23;
      color: #fffcfa;
      padding: 12px 24px;
      border-radius: 68px;
      text-decoration: none;
      width: 100%;
      text-align: center;
      margin-top: 44px;
    }
  }

  .step {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;

    p {
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }
  .circle {
    width: 44px;
    height: 44px;
    background-color: #fffcfa;
    border-radius: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 10;
  }

  .connector {
    width: 1px;
    background-color: #fffcfa;
    flex: none;
    position: absolute;
    top: 1rem;
    bottom: -2rem;
    left: 22px;
    right: auto;
    z-index: 1;
  }
}

// People section
.people {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 80px;

  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 44px;
    margin-right: 44px;

    h2 {
      font-size: 4.25rem;
      letter-spacing: -0.1rem;
    }

    p {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  .image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 90%;
  }

  img {
    width: 100%;
    height: auto;
  }
}

// Career section
.career {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 128px;
  padding-bottom: 80px;

  .buttonSpacing {
    margin-top: 44px;
  }

  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 44px;
    margin-right: 44px;

    h2 {
      font-size: 4.25rem;
      letter-spacing: -0.1rem;
    }

    p {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  .image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 90%;
  }

  img {
    width: 100%;
    height: auto;
  }
}

// Dreamteam section
.dreamteam {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 128px;
  padding-bottom: 80px;

  .buttonSpacing {
    display: flex;
    margin-top: 44px;
  }

  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 44px;
    margin-right: 44px;

    h2 {
      font-size: 4.25rem;
      letter-spacing: -0.1rem;
    }

    p {
      font-size: 1.75rem;
      line-height: 1.6;
    }
  }

  .image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 90%;
  }

  img {
    width: 100%;
    height: auto;
  }

  .redButton {
    border: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $serif;
    font-weight: 700;
    text-decoration: none;
    color: #fffcfa;
    background-color: #ee4b4a;
    padding: 0.75rem 0.75rem 0.75rem 1.5rem;
    font-size: 1.5rem;
    gap: 16px;
    border-radius: 2.5rem;

    &:hover {
      background-color: #2b2c30;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #fffcfa;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

// Footer styling
footer {
  // margin-top: 200px;
  background-color: #bfc1b9;
  padding-top: 80px;
  padding-bottom: 30px;

  .doormatHeader {
    width: 100%;
    margin-bottom: 24px;
  }

  .doormatBody {
    border-top: 1px solid #a1a39c;
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;

    .menu {
      flex: 1;

      h2 {
        font-family: $sanserif;
        letter-spacing: -0.1rem;
        font-size: 1.25rem;
        margin-bottom: 16px;
        color: #2b2c30;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        list-style: none;
        padding: 0;
      }

      a {
        text-decoration: none;
        font-size: 0.9rem;
        color: #58595c;
        font-weight: 500;

        &:hover {
          color: #2b2c30;
        }
      }
    }

    .button {
      border: none;
      min-width: 20vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $serif;
      font-weight: 700;
      text-decoration: none;
      color: #fffcfa;
      background-color: #ee4b4a;
      padding: 0.75rem 0.75rem 0.75rem 1.5rem;
      font-size: 1.5rem;
      gap: 16px;
      border-radius: 2.5rem;

      &:hover {
        background-color: #2b2c30;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #fffcfa;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9rem;
    color: #58595c;

    ul {
      display: flex;
      gap: 1rem;
      list-style: none;
      padding: 0;
    }

    a {
      text-decoration: none;
      font-size: 0.9rem;
      color: #58595c;
      font-weight: 500;
    }
  }
}
