* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comme', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7e1d2;
  color: #2b2c30;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nanum Myeongjo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
